*{
   margin: 0px;
   padding: 0px;
}
body{
     background-color:rgb(0, 0, 0, .7) ;
   background-image:url("./stfu.gif");
   background-size:1400px 700px ;

   background-repeat: no-repeat;
}
.sala{
   background-image: url("./joji.jpg");
   background-size: cover;
   border: 2px solid #fff;
      width: 400px;
    height: 300px;
    margin-top: -300px;
    margin-left: 800px;
}
.mila{

    font-size: 50px;
    font-family: Quicksand;
    color: hotpink;
    margin-top: 100px;
    margin-left: 385px;
    text-shadow: 3px 3px 5px #000;
}
.t_mil{
margin-top: 70px;
    margin-left: 370px;
    width: 701px;
    color: #fff;
    font-size: 32px;
    font-family: Quicksand;
    text-shadow: 4px 4px 5px #000;
}
.pagi{
    height: 150px;
    width: 150px;
    background-image: url(reg.png);
    background-size: 100% 100%;

    border-radius: 100px;
    margin-left: -10px;
    margin-top: -559px;
    transition: 0.5s;
    color: transparent;
}
a{
    color: transparent;
}